<mat-toolbar color="primary">
  <span>Tour of Heroes</span>

  <span fxFlex></span>


  <button mat-icon-button matTooltip="Mostar o dashboard" aria-label="show dashboard heroes" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
  </button>
  <button matTooltip="Mostrar Lista de Heroes" mat-icon-button aria-label="show Heroes List" routerLink="/heroes">
    <mat-icon>sports_martial_arts</mat-icon>
  </button>
</mat-toolbar>


<div class="content" fxLayoutGap="12px">
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>
